html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* remove pixels */
#layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "center"
        "footer";
    height: 100%;
}

#header {
    display: grid;
    justify-content: center;
    background-color: rgb(94, 138, 203);
    font-size: 1.2rem;
}

#center {
    align-self: center;
    justify-self: center;
}

#footer {
    align-self: baseline;
    text-align: center;
    background-color:  rgb(94, 138, 203);
    font-size: 1rem;
}

button {
  background-color: rgb(65, 65, 212);
  color:white;
  border-radius: 50%;
  border: .5rem solid;
  /* padding: .05rem .05rem; */
  font-weight: 5rem;
  font-size: 1.5rem;
}

button.active {
  background-color: #8e86ba;
}
